@font-face {
    font-family: 'puhuiti';
    src: url('fonts/Alibaba-PuHuiTi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'puhuiti';
    src: url('fonts/Alibaba-PuHuiTi-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SongTi';
    src: url('fonts/SongTi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "puhuiti", sans-serif;
}

/* 侧边栏 */
.icon-bar {
    position: fixed;
    width: 60px;
    /* 设置特定宽度 */
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 998;
    /* 确保在页面上方 */
}

.icon-bar a {
    display: block;
    /* 使链接显示在彼此下方而不是并排显示 */
    text-align: center;
    /* 居中对齐文本 */
    padding: 16px;
    /* 添加一些填充 */
    transition: all 0.3s ease;
    /* 为悬停效果添加过渡 */
    color: grey;
    /* 白色文字颜色 */
    font-size: 24px;
    /* 增加字体大小 */
}

.icon-bar a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    /* 和侧边栏 同步圆角*/
}

.icon-bar-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    z-index: 998;
    /* 确保在页面上方 */
}

.icon-bar-mobile a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: gray;
    font-size: 24px;
}

.icon-bar-mobile a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    /* 和侧边栏 同步圆角*/
}

.active {
    background-color: rgba(0, 0, 0, 0.1);
    /* 添加活动/当前颜色 */
    border-radius: 8px;
    /* 和侧边栏 同步圆角*/
}

@media only screen and (max-width: 767px) {
    .active {
        border-radius: 0px;
    }
}

.icon-bar-margin {
    margin: 4px 0;
    /* 添加上下边距 */
}

/* 导航栏 */
.header {
    position: sticky;
    /* 尝试固定 */
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    /* 标题栏的背景色 */
    backdrop-filter: blur(10px);
    color: #111;
    /* 标题栏文本颜色 */
    padding: 10px;
    border-bottom: 0.5px solid rgba(200, 200, 200, 0.5);
    z-index: 999;
    /* 确保标题栏在页面上方 */
}

.hidden {
    display: none;
}

/* 标题图片 */
.bgimg-1 {
    background-repeat: no-repeat;
    background-position: top right;
    min-height: 100%;
    height: auto;
    background-color: #f6fbff;
}

@media only screen and (min-width: 768px) {
    .bgimg-1 {
        background-image: url("./img/title1.png");
    }
}

@media only screen and (max-width: 767px) {
    .bgimg-1 {
        background-image: url("./img/title2.png");
        min-height: calc(100% - 72px) !important;
        height: calc(100% - 72px) !important;
    }
}

.chart-center {
    height: 400px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .chart-center {
        width: 600px;
    }
}

@media only screen and (max-width: 767px) {
    .chart-center {
        width: 320px;
    }
}


.bgimg-2 {
    background-image: url("./img/chapter2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d5e1ef;
}

.bgimg-1,
.bgimg-2 {
    /* 视差滚动 */
    background-attachment: fixed;
    background-size: contain;
}

/* 标题 */
.header-text {
    position: absolute;
    bottom: 60px;
    left: 30px;
    background-color: #d9e7f7;
    color: #7289b8;
    padding: 20px;
    margin: 0 auto;
}

/* 标题-移动版 */
.header-text-mobile {
    position: absolute;
    bottom: 72px;
    left: 0px;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px;
}

/* 深灰色文本 */
.caption {
    position: absolute;
    /* 设置左侧边距为10% */
    left: 2%;
    /* 设置右侧边距为10% */
    right: 10%;
    top: 50%;
    /* 设置宽度为90%以保持总宽度不超过100% */
    width: 88%;
    /* 设置文本左对齐 */
    text-align: left;
    color: #000;
}

.title-desktop {
    font: 50px "puhuiti", sans-serif;
    font-weight: bold;
}

.title-desktop-large {
    font: 60px "puhuiti", sans-serif;
    font-weight: bold;
}

.title-mobile {
    font: 30px "puhuiti", sans-serif;
    font-weight: bold;
}

.title-mobile-large {
    font: 50px "puhuiti", sans-serif;
    font-weight: bold;
}

.margin-gap-30 {
    margin: 30px 0;
}

/* 深灰色文本 */
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    box-sizing: border-box;
    letter-spacing: 10px;
}

/* 背景色 */
.bg-lightblue {
    background-color: #f9fcff;
}

/* 在小于等于768px的窗口宽度下修改字体大小 */
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
        /* 修改字体大小为40px */
    }

    h2 {
        font-size: 30px;
        /* 修改字体大小为30px */
    }

    h3 {
        font-size: 20px;
        /* 修改字体大小为20px */
    }
}

.line-height-2 {
    line-height: 2;
}

.line-height-3 {
    line-height: 2.5;
}

.container-padding-top {
    padding-top: 50px;
}

.container-padding-top-first {
    padding-top: 72px;
}

.shadow-box {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.fit-image {
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.cite {
    font: 14px "SongTi", sans-serif;
}