html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.headerbtn-block {
    align-items: stretch;
}

.header-h1 {
    margin: 0 4px;
    font-size: 24px;
    color: var(--color-dusty-pink);
    position: relative;
}
.header-h1::after {
    content: "\00B7"; /* 使用unicode表示圆点 */
    position: flex;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    color: var(--color-dusty-pink);
}

.adding-title {
    position: absolute;
    display: flex;
    float: left;
    margin: 0 4px;
    font-size: 24px;
    color: var(--color-dusty-pink);
}

h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 60px "puhuiti", sans-serif;
    font-weight: bolder !important;
    color: #fff;
    border: 0px;
}

h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 50px "puhuiti", sans-serif;
    font-weight: bold !important;
    color: #111;
    border: 0px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 40px "puhuiti", sans-serif;
    font-weight: bold !important;
    color: #111;
    border: 0px;
}

h4 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 30px "puhuiti", sans-serif;
    font-weight: medium;
    color: #111;
    border: 0px;
}

p {
    color: #111;
    font: 18px "puhuiti", sans-serif;
    font-weight: normal;
}

@media only screen and (max-width: 767px) {
    p {
        font-size: 16px
    }
}

body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "puhuiti", sans-serif;
}

/* 侧边栏 */
.icon-bar {
    position: fixed;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    border-radius: 16px;
    left: 24px;
    z-index: 998;
}

#icon-bar {
    transition: var(--transition-ease);
}

.icon-text {
    display: block;
    opacity: 0%;
    position: absolute;
    color: var(--color-medium-pink);
    font-size: 13px;
}

.icon-bar .icon-text {
    padding-top: 12px;
}

.icon-bar span {
    color: var(--color-medium-pink);
    transition: var(--transition-ease);
}

.icon-bar a .icon-text {
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.icon-bar-mobile span {
    color: var(--color-medium-pink);
}

.icon-bar a {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: var(--transition-ease);
    font-size: 24px;
}

.icon-bar a:hover {
    background-color: rgba(180, 120, 140, 0.08);
    border-radius: var(--iconbar-border-radius);
}

.icon-bar a:hover .icon-text {
    opacity: 100%;
    transform: translateY(4px);
}

.icon-bar a:hover span {
    transform: translateY(-10px);
}

/* IconBar 悬浮Tooltip*/
.tooltip {
    display: flex;
    opacity: 0%;
    left: 60px;
    max-height: 50px;
    overflow: hidden;
    transform: scaleX(0) translateY(-25%);
    background-color: var(--color-light-pink);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    white-space: nowrap !important;
    z-index: -10 !important;
    transform-origin: left;
    transition: transform 0.2s cubic-bezier(0.33, 0.04, 0, 0.95), opacity 0.5s cubic-bezier(0.47, 0.05, 0.06, 0.97);
}

.tooltip p{
    color: var(--color-dead-pink);
    font-size: 14px !important;
}

.icon-bar a:hover .tooltip {
    display: block;
    opacity: 100%;
    transform: scaleX(1) translateY(-25%);
}

.top-icon {
    border-top-left-radius: var(--iconbar-border-radius);
    border-top-right-radius: var(--iconbar-border-radius);
}

.bottom-icon {
    border-bottom-left-radius: var(--iconbar-border-radius);
    border-bottom-right-radius: var(--iconbar-border-radius);
}

.icon-bar-mobile {
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    z-index: 998;
    /* 确保在页面上方 */
}

#icon-bar-mobile {
    transition: var(--transition-ease);
}

.icon-bar-mobile a {
    float: left;
    width: 20%;
    text-align: center;
    padding-top: 6px;
    transition: var(--transition-ease);
    color: gray;
    font-size: 24px;
}

.icon-bar-mobile a:hover {
    background-color: rgba(180, 120, 140, 0.08);
    border-radius: 24px;
    padding-bottom: 0px;
    /* 和侧边栏 同步圆角*/
}

.icon-bar-margin {
    margin: 4px 0px;
    /* 添加上下边距 */
}


@media only screen and (max-width: 767px) {
    .active {
        border-radius: 0px;
    }
}

/* 导航栏 */
.header {
    position: sticky;
    /* 尝试固定 */
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #111;
    /* 标题栏文本颜色 */
    padding: 10px;
    border-bottom: 0.5px solid rgba(200, 200, 200, 0.5);
    z-index: 999;
    /* 确保标题栏在页面上方 */
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}

#chapter-1-header,
#chapter-2-header,
#chapter-3-header,
#chapter-4-header {
    transition: opacity 0.3s ease;
}

/* 标题图片 */
.bgimg-1 {
    position: relative;
    box-sizing: border-box;
    background-position: bottom center; /* 确保底部中心对齐 */
    background-repeat: no-repeat;
    background-size: cover !important; /* 宽度自适应，高度始终填满 */
    min-height: 100%;
    height: auto;
    background-color: var(--color-light-pink);
    z-index: -2;
}

/* 确保视频覆盖整个背景 */
#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

@media only screen and (min-width: 768px) {
    .bgimg-1 {
        background-image: url("./img/title1.png");
    }

    .gallery-filter-wrapper {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .bgimg-1 {
        background-image: url("./img/title2.png");
    }

    .gallery-filter-wrapper {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }
}

/* 图表 */
.chart-center {
    height: 400px;
    margin: 0 auto;
}

/* 三栏图表 */
.chart-col-md6 {
    display: flexbox;
    height: auto;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
}

.chart-md6 {
    flex: 1;
    height: auto;
    margin: 0 auto;
}

.sunburstlayer {
    scale: 1.5;
    transform: scale(1.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-16.75%, -12.5%);
}

.inner-text {
    padding: 10px;
}

.chart-center {
    width: 100%;
    max-width: 600px;
}

@media only screen and (max-width: 767px) {
    .chart-center {
        max-width: 400px;
    }
}

.bgimg-2 {
    background-image: url("./img/chapter2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-bgmain-pink);
}

.bgimg-1,
.bgimg-2 {
    /* 视差滚动 */
    background-attachment: fixed;
    background-size: contain;
}

.title {
    display: display-box;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
}

/* 标题 */
.title-text {
    position: fixed;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
    color: var(--color-dead-pink);
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 80px; /* 添加圆角 */
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: -1;
}

.title-text::after {
    content: "";
    position: absolute;
    border-radius: 72px; /* 添加圆角 */
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 2px solid var(--color-medium-pink);
}

/* 媒体查询，大屏幕参数 */
@media only screen and (min-width: 768px) {
    .title-text {
        border-radius: 40dvb; /* 大屏幕圆角 */
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .title-text::after {
        border-radius: 40dvb; /* 大屏幕圆角 */
        top: 16px;
        bottom: 16px;
        left: 16px;
        right: 16px;
    }
}

.title-text-large {
    font: 120px "Bubble", sans-serif;
}

/* 拉丁文本大小，启用，现在实际为移动设备标题文本大小 */
.title-text-large-latin {
    font: 60px "Bubble", sans-serif;
}

.title-text-secondary {
    font: 60px "XiYue", sans-serif;
}

.title-text-secondary-latin {
    font: 42px "XiYue", sans-serif;
}


.margin-gap-30 {
    margin: 30px 0;
}

/* 深灰色文本 */
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    box-sizing: border-box;
    letter-spacing: 10px;
}

/* 在小于等于768px的窗口宽度下修改字体大小 */
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

}

.shadow-box {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.fit-image {
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.little-title {
    font: 24px "SongTi", sans-serif;
}


.cite {
    font: 16px "SongTi", sans-serif;
}

nav {
    float: right;
    display: flex;
    align-items: center;
}

nav span {
    margin-right: 6px;
    color: var(--color-dusty-pink);
}

.comic-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dialogue {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
}

.comic-left {
    background-color: #cdf;
    margin-right: 50px;
}

.comic-right {
    margin-left: 50px;
    background-color: #fcd;
}

.comic-center {
    background-color: #cdf;
}

/* 复用一下，充当小标题 */
.comic-title {
    margin-top: 80px;
    background-color: #cdf;
}

.bubble-text {
    /* 字体 */
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    /* 颜色 */
    color: #333;

    /* 边框 */
    border: 1px solid #ddd;
    border-radius: 4px;

    /* 填充 */
    padding: 10px;

    /* 显示 */
    display: inline-block;
    margin: 10px;

    /* 阴影 */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    /* 动画 */
    transition: all 0.2s ease-in-out;
}

.bubble-text:hover {
    /* 颜色 */
    color: #fff;

    /* 背景颜色 */
    background-color: #333;

    /* 边框颜色 */
    border-color: #333;
}