@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Alibaba-PuHuiTi-Regular.ttf') format('puhuiti_regular'),
        url('fonts/Alibaba-PuHuiTi-Bold.ttf') format('puhuiti_bold');
    /* 可以添加其他字体格式的URL，以便浏览器支持不同的格式 */
    font-weight: normal;
    font-style: normal;
}


body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "puhuiti_regular", sans-serif;
}

/* 导航栏 */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    /* 标题栏的背景色 */
    backdrop-filter: blur(10px);
    color: #111;
    /* 标题栏文本颜色 */
    padding: 10px;
    border-bottom: 0.5px solid rgba(200, 200, 200, 0.5);
    z-index: 999; /* 确保标题栏在页面上方 */
}

.hidden {
    display: none;
}

/* 标题图片 */
.bgimg-1 {
    background-image: url("./img/title1.png");
    background-repeat: no-repeat;
    background-position: top right;
    min-height: 100%;
    height: auto;
    background-color: #f6fbff;
}

.bgimg-2 {
    background-image: url("./img/chapter2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d5e1ef;
}

.bgimg-1,
.bgimg-2 {
    /* 视差滚动 */
    background-attachment: fixed;
    background-size: contain;
}

/* 标题 */
.header-text {
    position: absolute;
    bottom: 20px;
    left: 30px;
    background-color: #d9e7f7;
    color: #7289b8;
    padding: 20px;
    margin: 0 auto;
}

/* 标题-移动版 */
.header-text-mobile {
    position: absolute;
    bottom: 80px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    color: white;
    padding-left: 20px;
    padding: 20px;
}

/* 深灰色文本 */
.caption {
    position: absolute;
    /* 设置左侧边距为10% */
    left: 2%;
    /* 设置右侧边距为10% */
    right: 10%;
    top: 50%;
    /* 设置宽度为90%以保持总宽度不超过100% */
    width: 88%;
    /* 设置文本左对齐 */
    text-align: left;
    color: #000;
}

.title-desktop {
    font-size: 50px;
    font-weight: bold;
}

.title-desktop-large {
    font-size: 60px;
    font-weight: bold;
}

.title-mobile {
    font-size: 30px;
    font-weight: bold;
}

.title-mobile-large {
    font-size: 50px;
    font-weight: bold;
}

.margin-gap-30 {
    margin: 30px 0;
}

/* 深灰色文本 */
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    box-sizing: border-box;
    letter-spacing: 10px;
}

/* 背景色 */
.bg-lightblue {
    background-color: #f9fcff;
}

/* 在小于等于768px的窗口宽度下修改字体大小 */
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
        /* 修改字体大小为40px */
    }

    h2 {
        font-size: 30px;
        /* 修改字体大小为30px */
    }

    h3 {
        font-size: 20px;
        /* 修改字体大小为20px */
    }
}

.line-height-2 {
    line-height: 2;
}

.line-height-3 {
    line-height: 2.5;
}

.container-padding-top {
    padding-top: 50px;
}

.shadow-box {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.fit-image{
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}