/* 颜色配置 */
:root {
    --color-light-blue: rgb(240, 245, 249);
    --color-pastel-blue: rgb(217, 231, 247);
    --color-faded-blue: rgb(175, 188, 206);
    --color-medium-blue: rgb(96, 137, 184);
    --color-dusty-blue: rgb(118, 145, 176);
    --color-dark-blue: rgb(0, 74, 159);
    --color-navy-blue: rgb(80, 92, 116);

    --color-gradient-stop-1-1: #4285f4;
    --color-gradient-stop-1-2: #9b72cb;
    --color-gradient-stop-1-3: #d96570;

    --color-gradient-stop-2-1: #dd812b;
    --color-gradient-stop-2-2: #896387;
    --color-gradient-stop-2-3: #3469e3;
    
    --color-surface: #fff;

    --color-asia: #FBC02D;
    --color-africa: #ca8f7a;
    --color-europe: #59bbc8;
    --color-north-america: #8b76b0;
    --color-south-america: #FF8A80;
    --color-oceania: #81C784;
}

/* 预设值 */
:root {
    --iconbar-border-radius: 16px;
    --transition-ease: all 0.3s ease;
}

/* 渐变预设 */
.text-gradient-1 {
    position: relative;
    display: inline-block;
    color: transparent;
    background: -webkit-linear-gradient(16deg, var(--color-gradient-stop-1-1) 0, var(--color-gradient-stop-1-2) 9%, var(--color-gradient-stop-1-3) 20%, var(--color-gradient-stop-1-3) 24%, var(--color-gradient-stop-1-2) 35%, var(--color-gradient-stop-1-1) 44%, var(--color-gradient-stop-1-2) 50%, var(--color-gradient-stop-1-3) 56%, var(--color-surface) 75%, var(--color-surface) 100%);
    background: linear-gradient(74deg, var(--color-gradient-stop-1-1) 0, var(--color-gradient-stop-1-2) 9%, var(--color-gradient-stop-1-3) 20%, var(--color-gradient-stop-1-3) 24%, var(--color-gradient-stop-1-2) 35%, var(--color-gradient-stop-1-1) 44%, var(--color-gradient-stop-1-2) 50%, var(--color-gradient-stop-1-3) 56%, var(--color-surface) 75%, var(--color-surface) 100%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
    position: relative;
    display: inline-block;
    color: transparent;
    background: -webkit-linear-gradient(16deg, var(--color-gradient-stop-1-3) 0, var(--color-gradient-stop-1-2) 9%, var(--color-gradient-stop-1-1) 20%, var(--color-gradient-stop-1-1) 24%, var(--color-gradient-stop-1-2) 35%, var(--color-gradient-stop-1-3) 44%, var(--color-gradient-stop-1-2) 50%, var(--color-gradient-stop-1-1) 56%, var(--color-surface) 75%, var(--color-surface) 100%);
    background: linear-gradient(74deg, var(--color-gradient-stop-1-3) 0, var(--color-gradient-stop-1-2) 9%, var(--color-gradient-stop-1-1) 20%, var(--color-gradient-stop-1-1) 24%, var(--color-gradient-stop-1-2) 35%, var(--color-gradient-stop-1-3) 44%, var(--color-gradient-stop-1-2) 50%, var(--color-gradient-stop-1-1) 56%, var(--color-surface) 75%, var(--color-surface) 100%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-3 {
    position: relative;
    display: inline-block;
    color: transparent;
    background: -webkit-linear-gradient(16deg, var(--color-gradient-stop-2-1) 0, var(--color-gradient-stop-2-2) 9%, var(--color-gradient-stop-2-3) 20%, var(--color-gradient-stop-2-3) 24%, var(--color-gradient-stop-2-2) 35%, var(--color-gradient-stop-2-1) 44%, var(--color-gradient-stop-2-2) 50%, var(--color-gradient-stop-2-3) 56%, var(--color-surface) 75%, var(--color-surface) 100%);
    background: linear-gradient(74deg, var(--color-gradient-stop-2-1) 0, var(--color-gradient-stop-2-2) 9%, var(--color-gradient-stop-2-3) 20%, var(--color-gradient-stop-2-3) 24%, var(--color-gradient-stop-2-2) 35%, var(--color-gradient-stop-2-1) 44%, var(--color-gradient-stop-2-2) 50%, var(--color-gradient-stop-2-3) 56%, var(--color-surface) 75%, var(--color-surface) 100%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes slideBackground {
    from {
        background-position: 100% 50%;
        opacity: 0.5;
    }
    to {
        background-position: 0% 50%;
        opacity: 1;
    }
}

.animate {
    animation: slideBackground 1s ease-in-out forwards;
}

/* 排版预设 */
.line-height-2 {
    line-height: 2;
}

.line-height-3 {
    line-height: 2.5;
}

.container-padding-top {
    padding-top: 50px;
}

.container-padding-top-first {
    padding-top: 60px;
}

.padding-bottom {
    height: 5px;
}

.secondary-header {
    margin: auto !important;
    letter-spacing: 0px !important;
}

.mx-4-fit {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

@media (max-width: 768px) {
    .mx-4-fit {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }
}