.text-gradient-1 {
    color: transparent;
    background: -webkit-linear-gradient(16deg, rgb(66, 133, 244) 0, rgb(155, 114, 203) 9%, rgb(217, 101, 112) 20%, rgb(217, 101, 112) 24%, rgb(155, 114, 203) 35%, rgb(66, 133, 244) 44%, rgb(155, 114, 203) 50%, rgb(217, 101, 112) 56%, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 100%);
    background: linear-gradient(74deg, rgb(66, 133, 244) 0, rgb(155, 114, 203) 9%, rgb(217, 101, 112) 20%, rgb(217, 101, 112) 24%, rgb(155, 114, 203) 35%, rgb(66, 133, 244) 44%, rgb(155, 114, 203) 50%, rgb(217, 101, 112) 56%, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 100%);
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
    color: transparent;
    background: -webkit-linear-gradient(16deg, rgb(217, 101, 112) 0, rgb(155, 114, 203) 9%, rgb(66, 133, 244) 20%, rgb(66, 133, 244) 24%, rgb(155, 114, 203) 50%, rgb(217, 101, 112) 44%, rgb(155, 114, 203) 35%, rgb(66, 133, 244) 56%, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 100%);
    background: linear-gradient(74deg, rgb(217, 101, 112) 0, rgb(155, 114, 203) 9%, rgb(66, 133, 244) 20%, rgb(66, 133, 244) 24%, rgb(155, 114, 203) 50%, rgb(217, 101, 112) 44%, rgb(155, 114, 203) 35%, rgb(66, 133, 244) 56%, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 100%);
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}